*{
    font-family: 'Comfortaa', cursive;   


}
html,h1,h2,h3,h4,h5,h6
{
    color:rgb(236, 236, 247);
}
body{
    background-color: rgb(236, 236, 247);
}
a{
    text-decoration: none;
    color: inherit;
}
header.container-fluid{
    white-space: nowrap;

    border-bottom: #4f5b93 solid 2px;
 }
header{
    border-bottom:5px #4f5b93 ;
background-color: #7a86b8;
height: 60px;
}
header *{
color:rgb(236, 236, 247)
}
header h1
{
  margin-top: 5px;  
}
header h1 a
{
    text-decoration: none;
    display: inline-block;
    color:rgb(236, 236, 247);
}
header h1 a i {
    margin-right: 5px;
    color:rgb(236, 236, 247);
}
header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    float: right;
}
header ul li{
    float: left;
    position: relative;
}
header ul li a{
    display: block;
    font-size: 1.2rem;
    text-decoration: none;
    color: rgb(236, 236, 247);
    padding: 14px;
}
header ul li a:hover {
    display: block;
    transition: 0.3s;
    color:#323232;
}
header ul li ul {
    position: absolute;
    top: 58px;
    right: 0px;
    width: 180px;
    display: none;
    z-index: 111;
}
header ul li:hover ul{
    display: block;
}
header ul li ul li {
    width: 100%;
}
header ul li ul li a {
    padding: 10px;
    background: rgb(236, 236, 247);
    color: #7a86b8;
}
.footer {
    background: #303036;
    color: rgb(236, 236, 247);
    position: relative;
}
.footer .footer-section{
    padding: 22px;
}
.footer h4, .footer h3 {
    color: rgb(236, 236, 247);
}
.footer .about .contact span{
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
}
.footer .about .socials a{
    border: 1px solid gray;
    width: 45px;
    height: 41px;
    padding-top: 5px;
    margin-right: 5px;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    border-radius: 5px;
    transition: all .3s;
    color: rgb(236, 236, 247);
}
.footer .about .socials a:hover {
    border: 1px solid rgb(236, 236, 247);
    color: rgb(236, 236, 247);
    transition: all .3s;
}

.footer .links ul a {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    transition: all .3s;
    color: rgb(236, 236, 247);
    text-decoration: none;
}

.footer .links ul a:hover {
    color: rgb(236, 236, 247);
    margin-left: 15px;
    transition: all .3s;
}

.footer .contact-form .contact-input {
    background: #272727;
    color:rgb(236, 236, 247);
    margin-bottom: 10px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border: none;
    width: 100%;
}

.footer .contact-form .contact-input:focus {
    background: #1a1a1a;
}

.footer .contact-form .contact-btn {
    float: right;
    font-size: 1.1em;
}

.footer .footer-bottom {
    background: #343a40;
    color: #686868;
    height: 50px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding-top: 20px;
}
/* SIDEBAR */
.sidebar{
    margin: 1rem 0;
    background-color:#7a86b8;
    min-height: 600px;
}
.sidebar ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    color:rgb(236, 236, 247);
}
.sidebar ul a{
    padding: 18px;
    display: block;
    border-bottom: 2px solid rgb(236, 236, 247);;

}
.sidebar ul a:hover{
    display: block;
    transition: 0.3s;
    color:#323232;
}
.posts{
    height: 100%;
    padding: 40px 100px 100px;
}
.posts h1{
    color: #303036;
margin: 1.5rem 0;

}
.posts .title-table div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #6c757d;
    font-weight: 700;
}
.posts .post div{
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #6c757d;
   
}
.posts .post .red{
    color:forestgreen;
}
.posts .post .del{
    color: crimson;
}
div .col{
    margin: 20px auto;
}
.mb-3 h2{
    color: #303036;
}
.err{
    color:crimson;
}